In [2]:
SELECT * from departments;
SELECT * from courses;

Id,Name
1,Computer Application
2,Information Technology

Id,Name,DepartmentId
1,MCA,1